<div ng-show="list.users.length>0||list.appuser.length>0">
<div class="page-header">
  <h1>Applicants who have applied for {{ list.name }}</h1>
</div>
<div class="row show-hide-message" ng-show="list.error">
  <div class="alert alert-danger"> {{list.error}} </div>
</div>
<div class="row show-hide-message" ng-show="list.success">
  <div class="alert alert-success"> {{list.success}} </div>
</div>
<table class="table table-hover">
  <thead class="thead-default">
  <tr>
    <th> Username</th>
    <th> Name </th>
    <th> Documents uploaded </th>
    <th> Action to perform </th>
  </tr>
  </thead>
  <tbody>
<tr ng-repeat="user in list.users">
  <td>{{ user[0].username }}</td>
  <td>{{ user[0].name }}</td>
  <td><a href="/document/{{user[0].username}}/{{list.name}}/{{list.id}}"> Click here to view </a></td>
  <td>
      <button type="button" class="btn btn-success" ng-click="list.approveuser(user[0].username,user[0].name);"> Approve </button>
      <button type="button" class="btn btn-danger" ng-click="list.rejectuser(user[0].username);"> Reject </button>
  </td>
</tr>
</tbody>
</table>
<div class="page-header">
  <h1>Applicants who have been approved for {{ list.name }}</h1>
</div>
<table class="table table-hover">
  <thead class="thead-default">
  <tr>
    <th> Username</th>
    <th> Name </th>
  </tr>
  </thead>
  <tbody>
<tr ng-repeat="user in list.appuser">
  <td>{{ user[0].username }}</td>
  <td>{{ user[0].name }}</td>
</tr>
</tbody>
</table>
</div>
<div ng-hide="list.users.length>0||list.appuser.length>0">
  <h2>No applicants have applied for {{ list.name }} yet</h2>
</div>
