<div class="page-header">
  <h1>List of available posts</h1>
</div>
<table class="table table-hover">
<thead class="thead-default">
<tr>
  <th> Name of Post</th>
  <th> Available Vacancies </th>
  <th> Qualification required </th>
  <th> Experience required </th>
  <th> Post Description </th>
</tr>
</thead>
<tbody>
  <tr ng-repeat="post in customer.posts"ng-hide="post.limit==0">
    <td>{{ post.postname }}</td>
    <td>{{ post.limit }}</td>
    <td>{{ post.qualification }}</td>
    <td>{{ post.experience }}</td>
    <td>{{ post.description }}</td>
    <td>
      <button ng-hide="main.role||main.authorized" ng-click="customer.add(main.username,main.name,post._id);" type="button" class="btn btn-primary" ng-disabled="{{ post.limit }} == 0"> Apply </button>
    </td>
  </tr>

<tr ng-repeat="post in customer.posts" class="alert alert-danger" ng-show="post.limit==0">
  <td>{{ post.postname }}</td>
  <td>{{ post.limit }}</td>
  <td>{{ post.qualification }}</td>
  <td>{{ post.experience }}</td>
  <td>{{ post.description }}</td>
  <td>
    <button ng-hide="main.role||main.authorized" ng-click="customer.add(main.username,main.name,post._id);" type="button" class="btn btn-primary" ng-disabled="{{ post.limit }} == 0"> Apply </button>
  </td>
</tr>
<div class="row show-hide-message" ng-show="customer.error">
<div class="alert alert-danger"> {{customer.error}} </div>
</div>
<div class="row show-hide-message" ng-show="customer.success">
<div class="alert alert-success"> {{customer.success}} </div>
</div>
</tbody>
</table>
